@import "tailwindcss";

/* FONTS */
@font-face {
  font-family: "ManropeM";
  src: url("../fonts/Manrope-Medium.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaB";
  src: url("../fonts/Helvetica-Bold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "ManropeEB";
  src: url("../fonts/Manrope-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@theme {
  /* --container-mobile: 370px; */
  --color-main-green: #31c29f;
  --color-blur-green: rgba(49, 194, 159, 0.79);
  --color-main-red: #f84963;
  --color-main-pink: #ff559f;
  --color-bg-input: rgba(0, 0, 0, 0.9);
  --color-blur-bg: rgba(0, 0, 0, 0.97);
  --color-gradient-text: linear-gradient(
    to right,
    #ff559f 0%,
    #d355cb 50%,
    #3b82f6 100%
  );
  --color-gradient-bg: linear-gradient(
    to right,
    #ff559f 0%,
    #ff9068 50%,
    #ff559f 100%
  );

  --font-ManropeM: "ManropeM";
  --font-ManropeEB: "ManropeEB";
  --font-HelveticaB: "HelveticaB";
  --breakpoint-mini-mobile: 378px;
}

@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .blur-supported {
    backdrop-filter: blur(7px);
    background-color: rgba(255,255,255,0.3);
  }
}


@layer utilities {
  .shadow-shadow-block {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .text-gradient-text {
    background: var(--color-gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  .bg-gradient-bg {
    background: linear-gradient(
      to right,
      rgba(255, 85, 159, 0.5) 0%,
      rgba(255, 144, 104, 0.5) 50%,
      rgba(255, 85, 159, 0.5) 100%
    );
  }
}

@layer base {
  * {
    margin: 0;
  }
  body {
    height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  input {
    outline: none;
  }
}
