@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@theme {
  /* --container-mobile: 370px; */
  --color-main-green: #31c29f;
  --color-blur-green: rgba(49, 194, 159, 0.79);
  --color-main-red: #f84963;
  --color-main-pink: #ff559f;
  --color-bg-input: rgba(0, 0, 0, 0.9);
  --color-blur-bg: rgba(0, 0, 0, 0.97);
  --color-gradient-text: linear-gradient(
    to right,
    #ff559f 0%,
    #d355cb 50%,
    #3b82f6 100%
  );
  --color-gradient-bg: linear-gradient(
    to right,
    #ff559f 0%,
    #ff9068 50%,
    #ff559f 100%
  );

  --font-ManropeM: "ManropeM";
  --font-ManropeEB: "ManropeEB";
  --font-HelveticaB: "HelveticaB";
  --breakpoint-mini-mobile: 393px;
}

@layer utilities {
  .shadow-hard {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .shadow-easy {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.12);
  }
  .text-gradient-text {
    background: var(--color-gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
  .bg-gradient-purple {
    background: linear-gradient(
      to right,
      rgba(255, 85, 159, 0.8) 0%,
      rgba(255, 144, 104, 0.8) 50%,
      rgba(255, 85, 159, 0.8) 100%
    );
  }
  .bg-gradient-animated {
    background: linear-gradient(
      90deg,
      rgba(190, 45, 105, 0.95),
      rgba(215, 60, 125, 0.95),
      rgba(255, 100, 85, 0.95),
      rgba(255, 140, 90, 0.95),
      rgba(215, 60, 125, 0.95),
      rgba(190, 45, 105, 0.95)
    );
    background-size: 290% 290%;
    animation: moveGradient 5s ease-in-out infinite alternate;
    border-radius: 10px;
  }

  @keyframes moveGradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  .bg-test {
    background: linear-gradient(90deg, #ffe8f2 0%, #f9eace9c 100%);
  }
}

@layer base {
  * {
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;

    *::-webkit-scrollbar {
      display: none;
    }
  }
  body {
    height: 100vh;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  input {
    outline: none;
  }
  textarea {
    outline: none;
  }
}
